@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html, body{
    /* height: 100%; 
    position: relative;
     margin: 0;
     min-height: 100vh;  
     margin-bottom: -50px;
     clear: both; 
     padding-left: 300px;
    padding-right: 300px; */
    
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
     font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    background-color: #ffffff;
    min-height: calc(100vh - 191.25px - 233.75px );
    
    /* position: relative; */
    
}
a{
    text-decoration: none;
}
.logo{
    cursor: pointer;
    margin-right: 39px;
}
.logo a{
    text-decoration: none;
    color: #ffffff;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
    background-color: rgb(192, 176, 151);
}
.nav{
    list-style: none;
}
.nav li{
    /* justify-content: space-between;
    display: flex; */
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
    margin-right: 450px;
    font-size: 26px;
}
.nav li a{
    transition: .3s;
    color: white;
}
.nav li a:hover{
    color: grey;
}
.btn{
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 10px 30px;
    border-radius: 5px;
    background: blue;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    /* position: absolute; */
    background-color: rgb(192, 176, 151);
    padding: 45px 0px;
    display: block;
     width: 100%; 
     /* margin-top: auto; */
     bottom: 0;
    
}
.footer-column{
    width: 25%;
    padding: 0 15px;
}
.footer-column h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-column h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: rgba(117, 39, 39, 0.363);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-column ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-column ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: black;
    display: block;
    transition: all 0.3s ease;
}
.footer-column ul li a:hover{
    color: #ffffff;
    padding-left: 10px;
}
.footer-column .socials a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-column .socials a:hover{
    color: #24262b;
    background-color: #ffffff;

}
.image{
    width: 50%;
    float: right;
}
.image img{
    width: 50%;
    margin-top: 75px;
    margin-left: 500px;
    border-radius: 30%;
}
.text-center{
	color:#fff;
    font-size: 23px;
    margin: -50px 0 80px 0;
    display: block;
    text-align: center;
    color: black;
}
.box{
    position: relative;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
    background-color: #ffffff;
	border-radius:8px;
	padding:70px 100px;
    margin-left: 100px;
    margin-right: 2000px;
    border: 1px solid transparent;
    box-shadow: 8px 8px 8px 8px rgb(42 52 61/16%);
    margin-bottom: 120px;
    margin-top: 355px;
    height: 620px;
}
.input-container{
	position:relative;
	margin-bottom:50px;
}
.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color: black;	
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:black;
}
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #e74c3c;	
}
.btn{
	color:#fff;
	background-color: rgba(117, 39, 39, 0.363);
	outline: none;
    border: 0;
    color: #fff;
	padding:10px 20px;
	text-transform:uppercase;
	margin-top:50px;
	border-radius:2px;
	cursor:pointer;
	position:relative;
}
.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-12px;
	font-size:12px;
}
.contact{
    color: black;
    padding-left: 100px;
    line-height: 100px;
    padding-top: 50px;
    font-size: x-large;
    border-radius:8px;
    border: 1px solid transparent;
    box-shadow: 8px 8px 8px 8px rgb(42 52 61/16%);
    background-color: rgb(192, 176, 151);
    margin: 100px 1000px 216px 1000px;
}
.contact-box{
    padding: 0px 100px 0px 100px;
}
.about{
    background-color:black;
    text-align: center;
    font-size: 54px;
    color: #ffffff;
    padding: 50px;
    margin: 50px;
}
#paragraph{
    display: block;
    text-align: center;
}
.paragraph{
    text-align: center;
    padding-left: 1000px;
    padding-right: 1000px;
    font-size: 26px;
    margin-bottom: 106px;
}
.cars{
    display: flex;
    justify-content: center;
    flex-basis: 75%;
    flex-wrap: wrap;
    margin: 30px;
    
}
.car-card{
    background-color: white;
	border-radius:8px;
    border: 1px solid transparent;
    box-shadow: 8px 8px 8px 8px rgb(42 52 61/16%);
    width: 1100px;
    height: 300px;
    margin: 10px;
}
.car-image img{
    height: 250px;
    margin-bottom: 30px;
    width: 35%;
    display: flex;
    justify-content: center;
}
.car-info {
    background-color: rgba(117, 39, 39, 0.363);
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.car-info h5{
    margin-left: 10px;
}
.home-p{
     display: block;
    font-size: 24px;
	border-radius:8px;
    border: 1px solid transparent;
    box-shadow: 8px 8px 8px 8px rgb(42 52 61/16%);
    width: 680px;
    height: 500px;
    margin-bottom: 1000px;
    background-color: rgb(192, 176, 151);
    margin: 10px;
    margin-left: 730px;
    margin-top: 50px;
    font-family: cursive;
    line-height: 30px;
     text-align: center; 
     padding: 70px 100px;
}

.buy div{
    display: flex;
    justify-content: center;
    border-radius: 15 0 15 0 ;
    height: 500px;
}
.sell-box{
	margin-left: 1500px;
	transform: translate(-50%,-50%);
    background-color: #ffffff;
	border-radius:8px;
	padding:60px 50px;
    border: 1px solid transparent;
    box-shadow: 8px 8px 8px 8px rgb(42 52 61/16%);
    height: 800px;
    width: 600px;
    margin-top: 500px;
}
.sell-container{
	position:relative;
	margin-bottom:100px;
}
.sell-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:32px;
	color: black;	
	transition: all 0.5s ease-in-out;
}
.sell-container input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:black;
}
.sell-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #e74c3c;	
}
.sell-container input:focus ~ label,
.sell-container input:valid ~ label{
	top:-12px;
	font-size:18px;
}
.page{
    display: flex;
    justify-content: space-between;
   margin: 150px;
}
.back{
    margin-left: 350px;
    opacity: 0.3;
}
.next{
    margin-right: 350px;
}
.available{
    padding-bottom: 75px;
    padding-top: 35px;
    margin-left:475px;
    text-decoration: underline;
}
.back-two{
    margin-left: 350px;
}
.next-two{
    margin-right: 350px;
    opacity: 0.3;
}
.banner{
    display: flex;
    justify-content: center;
    padding: 50px;
}
.home-register{
	position:absolute;
    right: 450px;
    top: 1270px;
	transform: translate(-50%,-50%);
    background-color: #ffffff;
	border-radius:8px;
	padding:70px 100px;
    border: 1px solid transparent;
    box-shadow: 8px 8px 8px 8px rgb(42 52 61/16%);
}
.home-container{
	position:relative;
	margin-bottom:20px;
    
}
.home-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color: black;	
	transition: all 0.5s ease-in-out;
}
.home-container input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:black;
}
.home-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #e74c3c;	
}
.home-container input:focus ~ label,
.home-container input:valid ~ label{
	top:-12px;
	font-size:12px;
}
.show{
    display: flex;
    justify-content: center;
    flex-basis: 75%;
    flex-wrap: wrap;
    margin: 30px;
    margin-bottom: 551px;
    height: 388px;
}
.show-card{
    background-color: white;
	border-radius:8px;
    border: 1px solid transparent;
    box-shadow: 8px 8px 8px 8px rgb(42 52 61/16%);
    width: 1100px;
    height: 800px;
    margin: 10px;
}
.show-image img{
    height: 660px;
    margin-bottom: 30px;
    width: 1000px;
    display: flex;
    justify-content: center;
}
.show-info {
    background-color: rgba(117, 39, 39, 0.363);
    font-size: 70px;
    display: flex;
    justify-content: center;
}
.show-info h5{
    margin-left: 10px;
}
.buttons{
    display: flex;
    justify-content: space-between;
    /* padding-bottom: 700px; */
    padding-left: 35px;
    margin-left: 1000px;
    margin-right: 1000px;
}
.buttons form{
    margin-bottom:40px;
}
.buttons button{
    margin-bottom: 40px;
}
.buttons p{
    margin-bottom: 40px;
    text-decoration: none;
    color: white;
}
.buttons a{
    color: inherit;
}
.edit{
	margin-left: 1500px;
	transform: translate(-50%,-50%);
    background-color: #ffffff;
	border-radius:8px;
	padding:60px 50px;
    border: 1px solid transparent;
    box-shadow: 8px 8px 8px 8px rgb(42 52 61/16%);
    height: 800px;
    width: 600px;
    margin-top: 500px;
}
.edit-container{
	position:relative;
	margin-bottom:100px;
}
.edit-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:32px;
	color: black;	
	transition: all 0.5s ease-in-out;
}
.edit-container input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:black;
}
.edit-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #e74c3c;	
}
.edit-container input:focus ~ label,
.edit-container input:valid ~ label{
	top:-12px;
	font-size:18px;
}
