
<div class="box">
	<form action="/session/login" method="POST">
		<P class="text-center">Log In</P>
        <span class="text-center">WELCOME BACK!</span>
        <P class="text-center">Don't have a CarWorld account? <a href="/session/register">Create one here</a> </P>

	<div class="input-container">
		<input type="text" id="email" name="email" required=""/>
		<label>Email</label>		
	</div>

	<div class="input-container">		
		<input type="password" id="password" name="password" required=""/>
		<label>Password</label>
	</div>

		<input type="submit" value="Login" style="cursor: pointer; color: #fff; font-size: 16px; letter-spacing: 2px; padding: 10px 30px; border-radius: 5px; background: rgba(117, 39, 39, 0.363);">
</form>	
</div>
