<div class="box">
	<form action="/session/register" method="POST">
        <P class="text-center">Create an account with CarWorld</P>

	<div class="input-container">
        <input type="text" name="first name" id="first name" required=''>
        <label>First Name</label>
    </div>

    <div class="input-container">
        <input type="text" required=""/>
        <label>Last Name</label>
    </div>
    
    <div class="input-container">
		<input type="text" id="email" name="email" required=""/>
		<label>Email</label>  
    </div>   
    
	<div class="input-container">		
		<input type="password" id="password" name="password" required=""/>
		<label>Password</label>
	</div>

    <div class="input-container">
        <input type="password" id="verifyPassword" name="verifyPassword" required="">   
        <label>Re-type Password</label>
        <p style="color: gray;">*Include a minimum of 8 characters and at least one number and one letter</p>
    </div>

		<input type="submit" value="Register" style="cursor: pointer; color: #fff; font-size: 16px; letter-spacing: 2px; padding: 10px 30px; border-radius: 5px; background: rgba(117, 39, 39, 0.363);">
</form>	
</div>