<div class="about">
    <H1>WHY CHOOSE CARWORLD</H1>
</div>

<p id="paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe, ipsum unde vitae, temporibus doloremque aliquam libero iure modi consectetur enim, eaque delectus esse sint quibusdam facere. Accusamus vel obcaecati quisquam?</p>