<div class="about">
    <H1>WHY CHOOSE CARWORLD</H1>
</div>
<div class="paragraph">
    <p>Our mission at CarWorld is to find you real solutions for your personal car needs. Our site is designed to grant you easy access into a virtual car buying and selling base. You should feel empowered to resolve your car venture all on your own! Whether you’re shopping for a new, certified or used car, our website offers you these benefits: A hand-picked selection of vehicle inventory from dealers and private sellers. The most comprehensive selection of buying and selling tips.Vehicle pricing, including CarWorld discounts.
    </p>
    <p>Are you in search for a sedan to jet your daughter off to college? Or a SUV that can haul your entire family camping luggage? Maybe you are craving a new sports car that you can show off to the world. If you find yourself nodding to any one of these scenarios, you are in the right place! CarWorld is dedicated to putting your needs first. Sign up today to hear about our current offers!</p>
</div>