<!-- <img src="https://media.istockphoto.com/photos/making-memories-picture-id528474010?k=20&m=528474010&s=612x612&w=0&h=C4_j-6FQQP0t4UyNfdBhtieByOzg4aBK9sIaiUTmYDg=" alt="Image" height="850px" width="100%"> -->
<div class="banner">
<img src="/banner.jpg" alt="banner" height="700px" width="1500px">
</div>

<span class="home-p">Welcome to CarWorld, where we look forward to meeting your car needs! Are you in search for a sedan to jet your daughter off to college? Or a SUV that can haul your entire family camping luggage? Maybe you are craving a new sports car that you can show off to the world. If you find yourself nodding to any one of these scenarios, you are in the right place! CarWorld is dedicated to putting your needs first. Sign up today to hear about our current offers!</span>

<div class="home-register">
	<form action="/session/register" method="POST">
        <P class="text-center">Create an account with CarWorld</P>

	<div class="home-container">
        <input type="text" name="first name" id="first name" required=''>
        <label>First Name</label>
    </div>

    <div class="home-container">
        <input type="text" required=""/>
        <label>Last Name</label>
    </div>
    
    <div class="home-container">
		<input type="text" id="email" name="email" required=""/>
		<label>Email</label>  
    </div>   
    
	<div class="home-container">		
		<input type="password" id="password" name="password" required=""/>
		<label>Password</label>
	</div>

    <div class="home-container">
        <input type="password" id="verifyPassword" name="verifyPassword" required="">   
        <label>Re-type Password</label>
    </div>

		<input type="submit" value="Register" style="cursor: pointer; color: #fff; font-size: 16px; letter-spacing: 2px; padding: 10px 30px; border-radius: 5px; background: rgba(117, 39, 39, 0.363);">
</form>	
</div>