<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Car App</title>
</head>
<body>
    <header>
        <a  class="logo" href="/cars"><img src="/logo.jpg" alt="logo" height="125px"></a>
        <ul class="nav">
           <li><a href="/cars/buy">Buy</a></li>
           <li><a href="/cars/sell">Sell</a></li>
           <li><a href="/cars/aboutUs">About</a></li>
           <li><a href="/cars/contactUs">Contact</a></li>
       </ul>
    </nav>
    <a href="/session/login" class="btn">Login/Register</a>
    </header>
    <%- body %>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-column">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4>follow us</h4>
                    <div class="socials">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>