
<div class="box">
	<form>
		<P class="text-center">Log In</P>
        <span class="text-center">WELCOME BACK!</span>
        <P class="text-center">Don't have a CarWorld account? <a href="create_account">Create one here</a> </P>
	<div class="input-container">
		<input type="text" required=""/>
		<label>Email</label>		
	</div>
	<div class="input-container">		
		<input type="password" required=""/>
		<label>Password</label>
	</div>
		<button type="button" class="btn">submit</button>
</form>	
</div>
