<h1 style="background-color:black;
text-align: center;
font-size: 54px;
color: #ffffff;
padding: 50px;
margin: 50px;">SELL YOUR CAR WITH US</h1>

<div class="sell-box">
<form action="/cars" method='POST'>
    <div class="sell-container">
        <input type="text" name="image" id='image'>
        <label>Image</label>
        
    </div>

    <div class="sell-container">
        <input type="text" name="make" id='make'>
        <label for="make">Make</label>
        
    </div>

    <div class="sell-container">
        <input type="text" name="model" id='model'>
        <label for="model">Model</label>
        
    </div>

    <div class="sell-container">
        <input type="text" name="year" id="year">
        <label for="year">Year</label>
        
    </div>

    <input type="submit" value='Submit' style="cursor: pointer; color: #fff; font-size: 16px; letter-spacing: 2px; padding: 10px 30px; border-radius: 5px; background: rgba(117, 39, 39, 0.363);">

</form>
</div>