<h1>Sell your car with us</h1>

<form action="/cars" method='POST'>
    <label for="image">Image</label>
    <input type="text" name="image" id='image'>

    <label for="make">Make</label>
    <input type="text" name="make" id='make'>

    <label for="model">Model</label>
    <input type="text" name="model" id='model'>

    <label for="year">Year</label>
    <input type="text" name="year" id="year">

    <input type="submit" value='Submit'>

</form>